<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>712446339877-73v0oct4fhrsr3i45ujq2iramrml1ncp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712446339877-73v0oct4fhrsr3i45ujq2iramrml1ncp</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJ3pjaMr4BP7XQzQPkyNwK_zRXM5dYaA</string>
	<key>GCM_SENDER_ID</key>
	<string>712446339877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mydj.player-app</string>
	<key>PROJECT_ID</key>
	<string>mydj-bfdcd</string>
	<key>STORAGE_BUCKET</key>
	<string>mydj-bfdcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:712446339877:ios:4fe573f4c04ebff9</string>
	<key>DATABASE_URL</key>
	<string>https://mydj-bfdcd.firebaseio.com</string>
</dict>
</plist>